<!DOCTYPE html>
<html lang="en" class="antialiased">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Course List </title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/admin_enrollment.css">
</head>

<body class="bg-light tracking-wider leading-normal">
  <section th:replace="~{admin-nav-fragment :: navbar}"></section>
  <section class="bg-light">
    <div class="container text-info mt-3">
      <h1>Manage Courses</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
          <li class="breadcrumb-item"><a href="/admin/student/list">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Courses</li>
        </ol>
      </nav>
    </div>
  </section>
  <div class="p-3 container bg-white rounded">
    
    <!-- Create Button -->
    <div class="d-flex justify-content-end">
      
      <a
        href="#"
        class="btn btn-info mb-3" aria-pressed="false" autocomplete="off"
        data-toggle="modal"
        data-target="#createModal"
        ><i class="fas fa-plus"></i> Create Course</a
      >
    </div>
  
  
  <!-- <table id="courseDataTable" th:if="${not #lists.isEmpty(courses)}" class="display nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Credits</th>
        <th>Edit Course</th>
        <th>Delete Course</th>
        <th>Cohort List</th>
      </tr>
    </thead>
    <tbody> -->
      <!-- Your table rows here -->
      
    
  </section>

  
    <!-- table -->
    <section class="bg-white">
      <div class="container-fluid">
        <h4 class="mb-3">Course List</h4>
        <table id="courseDataTable" th:if="${not #lists.isEmpty(courses)}" class="table table-white table-sm table-hover table-bordered rounded" style="width:100%">
          <thead class="thead-light text-white">
          <tr class="text-md-center">
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Credits</th>
            <th>Cohort List</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <!-- Your table rows here -->
          <tr th:each="course : ${courses}" th:onclick="'redirectToCohortView(' + ${course.id} + ')'" >
            <td th:text="${course.id}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.credits}"></td>
            <td>
              <button class="btn cohort-button" style="background-color: #dee2e6;" th:data-courseid="${course.id}">
                  View Cohort
              </button>
            </td>
            <td>
              <a
                class="btn btn-info ml-auto"
                data-toggle="modal"
                data-target="#editModal"
                th:data-courseid="${course.id}"
                th:data-coursename="${course.name}"
                th:data-credits="${course.credits}"
              >
                <i class="fas fa-edit"></i>
              </a>
            </td>
            <td>
              <a
                class="btn btn-warning ml-2"
                data-toggle="modal"
                data-target="#deleteModal"
                th:data-courseid="${course.id}"
              >
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  
  </div>
   
  
  
  
    <!-- Edit Modal -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Course</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="courseId">Course ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="courseId"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="courseName">Course Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="courseName"
                  placeholder="Enter course name"
                />
              </div>
              <div class="form-group">
                <label for="credits">Credits</label>
                <input
                  type="number"
                  class="form-control"
                  id="credits"
                  placeholder="Enter Credits"
                />
              </div>
              <!-- Add more form fields as needed -->
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="updateButton" class="btn btn-info">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            
            <h5 class="modal-title" id="deleteModalLabel">Delete Course</h5>
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                id="courseIdDelete"
                readonly
              />
            </div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this course?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button type="button" id="deleteButton" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Modal -->
    <div
      class="modal fade"
      id="createModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">Create Course</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="courseName">Course Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="courseNameCreate"
                  placeholder="Enter course name"
                />
              </div>
              <div class="form-group">
                <label for="credits">Credits</label>
                <input
                  type="number"
                  class="form-control"
                  id="creditsCreate"
                  placeholder="Enter Credits"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="createButton" class="btn btn-info">Create</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/admin_course.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <!-- <script>
    $(document).ready(function() {
      $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });
  </script> -->
</body>
</html>