<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <section th:fragment="navbar">
      <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">
          <img src="/images/T3logo_only.png" alt="" height="40" class="d-inline-block align-text-center">
          <span class="text-secondary"> Administration Portal </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ml-auto">   
            <li class="nav-item"><div class="nav-link"><a href="/admin/admin/list" style="color:gray;">Admin</a></div></li>
            <li class="nav-item"><div class="nav-link"><a href="/admin/student/list" style="color:gray;">Students</a></div></li>
            <li class="nav-item"><div class="nav-link"><a href="/admin/lecturer/list" style="color:gray;">Lecturers</a></div></li>
            <li class="nav-item"><div class="nav-link"><a href="/admin/course/list" style="color:gray;">Courses</a></div></li>
            <li class="nav-item"><div class="nav-link"><a href="/admin/enrollment/list" style="color:gray;">Enrollment</a></div></li>
            <li class="nav-item"><div class="nav-link"><a href="/logout" style="color:gray;">Logout</a></div></li>
          </ul>
        </div>
      </nav>
    </section>
    <!-- edit above -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>