<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Recommendations</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>View Course Recommendations</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${recommendedCourses}">
                    <td th:text="${course.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
